/* common style */
.display-flex{
    display: flex;
}
.btn-primary{
    border-radius: 12px;
    background-color: orange;
    padding: 10px 60px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.main{
    /* max-width: 1158px;
    margin: 0 auto; */
}

.dark-1{
    color: #202020;
}
.dark-2{
    color:#302828;
}
.dark-3{
    color: #666666;
}



/* navbar style */
.navbar{
    max-width: 1160px;
   
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    max-width: 52px;
    max-height: 62px;
    padding-top: 12px;
    padding-right: 11px;
}
.logo-name{
    font-size: 2rem;
    font-weight: 700;
}
.menubar{
    list-style: none;
    gap: 2rem;
}
.menubar-item{
    text-decoration: none;
}
.menubar-item-1{
    color: orange;
}
.menubar-item-2{
    color:blue;
}
.menubar-item-3{
    color: #05D4DF;
}
.menubar-item-4{
    color: #5D58EF;
}
#bars{
    display: none;
}
/* banner-sections style */
.banner-section{
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    max-width: 1158px;
    margin: 0px auto;
}
.hero-kid{
    max-width: 100%;
}
.banner-section-name{
    max-width: 640px;
}
.banner-name{
    max-width: 640px;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.Empowering{
    color: orange;
}
.towards-vision{
    color: blue;
}
#Enroll-Now{
    background-color: black;
    color: white;
}
.btn-primary-1{
    border-radius: 12px;
    background-color: orange;
    padding: 10px 60px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}


/* Standard Curriculum styles */
.Standard-Curriculum{
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10px;
    max-width: 1158px;
    margin: 0px auto;
}
.Standard-Curriculum-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.Standard-Curriculum-cards{
    gap: 28px;
}
.Standard-Curriculum-card{
    text-align: center;
    border-radius: 18px;   
    border: none;
}
.Standard-Curriculum-card-1{
    background-image: linear-gradient(#55a3c5,#f8c1c1);
}
.Standard-Curriculum-card-2{
    background-image: linear-gradient(#d4a133,#f8e3be);
}
.Standard-Curriculum-card-3{
    background-image: linear-gradient(#6d1ed4,#dbc4f7);
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.kinder-img{
    padding-top: 52px;
}
.chevron{
    /* text-align: center;
    padding: 50px auto; */
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.chevron-1{
    background-color: orange;
    padding: 30px;
    border-radius: 50%;
}
.chevron-2{
    background-color: orange;
    padding: 30px;
    border-radius: 50%;
}

.Read-More-1{
    font-size: 1rem;
    font-weight: 700;
    color: #64C8FF;
}
.Read-More-2{
    font-size: 1rem;
    font-weight: 700;
    color: #F0AA00;
    /* padding-bottom: 30px; */
}
.Read-More-3{
    font-size: 1rem;
    font-weight: 700;
    color: #8700FF;
}

/* Our-Stories-section styles */

.Our-Stories{
    font-size: 2.8rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.Our-Stories-box-1{
    grid-area: Our-Stories-box-1;
    
}
.Our-Stories-box-2{
    grid-area: Our-Stories-box-2;
}
.Our-Stories-box-3{
    grid-area: Our-Stories-box-3;
}
.Our-Stories-box-4{
    grid-area: Our-Stories-box-4;
}
.Our-Stories-box-5{
    grid-area: Our-Stories-box-5;
}
.Our-Stories-section{
    background-image:url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1158px;
    margin: 0px auto;
}
.Our-Stories-boxs{
    display: grid;
    grid-template-areas: 
    " Our-Stories-box-1 Our-Stories-box-1 Our-Stories-box-2 Our-Stories-box-3"
    " Our-Stories-box-1 Our-Stories-box-1 Our-Stories-box-4 Our-Stories-box-5"
    ;
    gap: 20px;  
}
.Our-Stories-boxs-gredient{
    background-image: linear-gradient(#ffffff,#ffffff,#e2d2a9,#d3ae51);
}
.Our-Stories-box-1,.Our-Stories-box-2,.Our-Stories-box-3,.Our-Stories-box-4,.Our-Stories-box-5{
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    border: none;
}
.story-1-button{
  margin-left: 38px;
  background-color: #3CD8E8;
  border-radius: 47px ;
  padding: 9px 19px;
  border: none;

}
.button-abba-1{
    margin-top: -20px;
}
.story-2-button{
  margin-left: 38px;
  background-color: #5D58F0;
  border-radius: 47px ;
  padding: 9px 19px;
  border: none;
}
.button-abba-2{
    margin-top: -20px;
}
.story-3-button{
  margin-left: 38px;
  background-color: #95B226;
  border-radius: 47px ;
  padding: 9px 19px;
  border: none;
}
.button-abba-3{
    margin-top: -20px;
}
.story-4-button{
  margin-left: 38px;
  background-color: #95B226;
  border-radius: 47px ;
  padding: 9px 19px;
  border: none;
}
.button-abba-4{
    margin-top: -20px;
}
.story-5-button{
  margin-left: 38px;
  background-color: #5D58F0;
  border-radius: 47px ;
  padding: 9px 19px;
  border: none;
}
.button-abba-5{
    margin-top: -20px;
}
.story-2-title,.story-3-title,.story-4-title,.story-5-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.story-1-title{
    padding-top: 33px;
    font-size: 1.5rem;
    font-weight: 700;
}
.story-1-title-subtitle{
    padding-left: 38px;
}
.pic-1 > img{
    border-radius: 16px;
    width: 100%;
}
.pic-2 > img{
    border-radius: 16px;
    width: 100%;
}
.pic-3 > img{
    border-radius: 16px;
    width: 100%;
}
.pic-4 > img{
    border-radius: 16px;
    width: 100%;
}
.pic-5 > img{
    border-radius: 16px;
    width: 100%;
}
#View-All{
    background-color: #202020;
    margin: 40px auto;
    margin-bottom: 50px;
}

/* /footer style */
footer{
    background-color: #404747;
}
.footer-section {
    
    justify-content: space-evenly;
    color: white;
    padding: 123px 140px;
    
}
.kid-title{
    font-size: 2rem;
    font-weight: 700;
}
.logo-png{
    max-width: 81px;
    max-height: 82px;
}
.logo-kid {
    align-items: center; 
}
.kid-subtitle{
    font-size: 1.2rem;
}
.About-School{
    font-size: 1.5rem;
    font-weight: 700;
}
.Home-About-Facilities-Admission{
    font-size: 1.2rem;
    font-weight: 400;
}
.Keep-In-Touch{
    font-size: 1.6rem;
    font-weight: 700;
}


/* mobile device responsive */
@media screen and (max-width:576px){
    .logo-name,.menubar,.btn-primary  {
        display: none;
    }
    #bars{
        display: flex;
        width: 50px;
        height: 50px;
        padding-right: 16px;
        padding-top: 20px;
        align-items: center;
    }
    .logo{
        padding-top: 12px;
        padding-left: 19px;
        padding-bottom: 12px;
    }
    .navbar{
        border-bottom: 1px solid orange;
    }
    /* banner-section style */
    .banner-section{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        padding-right: 0px;
    }
    .banner-name{
        font-size: 2rem;
    }
    .banner-section-name{
       margin-top: 0px;
    }
    .banner-subtitle{
        font-size: 1rem;
        text-align: center;
    }
    .Standard-Curriculum-cards{
        flex-direction: column;
        gap: 12px;
    }
    .chevron{
        display: none;
    }
    .Standard-Curriculum-title{
        font-size: 1.6rem;
        font-weight: 700;
    }
    .Our-Stories-boxs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-right: 20px;
        gap: 10px;
    }
    .Our-Stories-box-1{
        display: none;
    }
    .footer-section {
        padding: 50px;
        flex-direction: column;
    }
}